/* Admin CSS style */
.post-type-wsuwp_snp_postshadow #edit-slug-box,
.post-type-wsuwp_snp_postshadow .wp-list-table .view,
.post-type-wsuwp_snp_postshadow .preview.button,
a[href*="?wsuwp_snp_postshadow="]
{position:absolute; top:-99999em; left:-999em;}


.field_block{ padding:10px 15px; border:1px #C4C3C3 solid; background-color:#EFEFEF;margin-top: 15px;position: relative;}
.field_block legend{
	background-color: #e6e6e6;
    border: 1px solid #d2d2d2;
    font-size: 1.5em;
    font-weight: bold;
    left: 5px;
    padding:2px 10px 8px !important;
    position: absolute;
    top: -7px;
}


.fields_area{margin-top: 25px !important;}

.filter_block{padding:3px 7px; border:1px #C4C3C3 solid;}


.filter-discription{display:none;}
.active .filter-discription:first{display:block;}

#mapping_template,
#filter_template{display:none;}

.fields_area{clear:right;}

.fallbacks.active {border:1px solid #C9C9C9;background-color:#E5E5E5;padding-top:5px;padding-bottom:5px; opacity:.95}
.fallbacks li {padding-left:5px;margin-left:7px;padding-right:5px;border-top: 5px solid #9A9A9A; margin-top:5px;padding-top:5px;}
.fallbacks li:first-child{border-top:none; margin-top:0px;padding-top:0px;}


.mapping-removal:hover,
.filter-removal:hover{color:#AF0002;}


.filter_wrapper ul{ list-style:none; padding:0px; margin:0px;}

[class*="post-type-wsuwp_snp_"] a.button .dashicons{line-height: 27px;}
[class*="post-type-wsuwp_snp_"] a.button.filter-add{}
[class*="post-type-wsuwp_snp_"] a.button,
.map_filter_wrapper ul{clear:right;}
[class*="post-type-wsuwp_snp_"] a.button.mapping-add{
	margin-right:-10px;
	margin-top:0px;
    position: absolute;
    right: 0;
    top:8px;

}
ul.fallbacks {margin-top: 0px; border-left:3px solid #9A9A9A !important;}
[class*="post-type-wsuwp_snp_"] a.button.fallback-add{
	border-left:3px solid #9A9A9A;
}


#scrape-wrap .field-wrap {
	background: #edeae3;
	color: #48454a;
	font-family: Calibri, "Times New Roman", serif;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#scrape-wrap .field-wrap:hover {
	background: #e4dfd4;
}
#scrape-wrap .field-wrap .field {
	padding: 4px;
	font-weight: bold;
	border-bottom: 1px solid #f8f6f0;
	padding: 5px 10px;
}
#scrape-wrap .field-wrap .field label, scrape-wrap .field-wrap .field input {
	float: left;
}
#scrape-wrap .field-wrap .field textarea {
	width: 100%;
	height: 100px;
	margin-top: 10px;
}
#scrape-wrap .field-wrap .field label {
	width: 180px;
	font-size: 14px;
}
#scrape-wrap .field-wrap .code-list {
	margin-left: 15px;
	font-weight: normal !important;
}
#scrape-wrap .field-wrap .field #cat, #scrape-wrap .field-wrap .field #author, #scrape-wrap .field-wrap .field #status, #scrape-wrap .field-wrap .field #visibility {
	min-width: 150px;
}
#scrape-wrap .field-wrap iframe {
	background: #FFF;
}
#scrape-wrap .field-wrap .inner {
	padding: 10px;
	border: 1px solid #ddd8cd;
	margin-top: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#scrape-wrap .field-wrap #looptemplate, #scrape-wrap .field-wrap #bodytemplate {
	height: 250px;
}
#scrape-wrap #scrape-save {
	margin: 10px 0px;
}
#scrape-wrap #form-wrap {
	margin-top: 15px;
	width: 900px;
	float: left;
}
#scrape-donate-wrap {
	float: left;
	font-weight: normal !important;
	text-align: center;
	width: 300px;
}
#scrape-wrap div.code-list ul li a {
	border: 1px solid #bbbbbb;
	background: #f7f7f7;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	float: left;
	margin: 2px;
	display: block;
}
#scrape-wrap div.code-list ul li a:hover {
	background: #FFFFFF;
}
#scrape-wrap .note {
	padding: 4px;
	font-size: 12px;
	font-style: italic;
	border-top: 1px solid #ddd8cd;
	padding: 5px 10px;
}
#scrape-wrap .desc-text {
	font-size: 12px;
	font-style: italic;
}
#scrape-wrap .code {
	font-family: Consolas, Monaco, "Courier New", Courier, monospace;
	font-style: normal !important;
}
#scrape-wrap .clr {
	clear: both;
}
#scrape-wrap .center {
	text-align: center;
}
#scrape-wrap .std-mar {
	margin: 5px;
}
#scrape-wrap .sept-mar1 {
	margin: 0px 1px;
}
#scrape-wrap .nomar {
	margin: 0px !important;
}
#scrape-wrap .marb5 {
	margin-bottom: 5px;
}
#scrape-wrap .marb10 {
	margin-bottom: 10px;
}
#scrape-wrap .marb20 {
	margin-bottom: 20px;
}
#scrape-wrap .sept-mar2 {
	margin: 0px 2px;
}
#scrape-wrap .wd50 {
	width: 50px;
}
#scrape-wrap .wd100 {
	width: 100px;
}
#scrape-wrap .wd150 {
	width: 150px;
}
#scrape-wrap .wd200 {
	width: 200px;
}
#scrape-wrap .wd300 {
	width: 300px;
}
#scrape-wrap .wd400 {
	width: 400px;
}
#scrape-wrap .wd500 {
	width: 500px;
}
#scrape-wrap .wd600 {
	width: 600px;
}
#scrape-wrap .wd700 {width: 700px;}
#scrape-wrap .wd750 {width: 750px;}
#scrape-wrap .wd800 {width: 800px;}
#scrape-wrap .wd850 {width: 850px;}
#scrape-wrap .wd900 {width: 900px;}
#scrape-wrap .wd950 {width: 950px;}



#scrape-wrap .fl {float: left;}

.ui-tabs-vertical { width: 59em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 44em;}

.useful{float:right;}





.filteroptions .half{width:40%;}
.filteroptions .full{width:80%;}

.fields_area.closed{display:none;}

.mapping-showhide{
color: #4E4E4E;
position: absolute;
top: -5px;
right: -11px;
}
.mapping-showhide .dashicons{
	width: 30px;
	height: 30px;
	font-size: 29px;
	line-height: 30px;
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
	z-index: 2;
	position:relative;
}
.mapping-showhide.open .dashicons{
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

.mapping-showhide .show_text{
border-radius: 5px 0px 0px 5px;
height: 17px;
line-height: 18px;
font-size: 11px;
position: relative;
top: 4px;
right: -10px;
color: #e9e9e9;
padding: 3px 9px 2px 9px;
background-color: #494949;
z-index: 1;
float: left;
}
.mapping-showhide.open .show_text{
	display:none;
}



#meta_block,
#post_block{
	position:relative;
	margin-top:15px;
	padding-top: 15px;
}

#meta_block legend,
#post_block legend{
	background-color: #434343;
	border: 1px solid #d2d2d2;
	color:#EFEFEF;
	font-size: 1.5em;
	font-weight: bold;
	left: 5px;
	padding: 2px 10px 8px !important;
	position: absolute;
	top: -7px;
	width: 96%;
}


#meta_block .field_block legend,
#post_block .field_block legend {
	background-color: #e6e6e6;
	color:#434343;
	border: 1px solid #d2d2d2;
	font-size: 1em;
	width: auto;
}
.mapping-showhide:focus,.mapping-showhide *:focus{
    outline: 0;
	box-shadow:none;
}
